.playlist-container {
    min-width: 30vw;
    display:block;
    width: 40vw;
    min-height: 30vh;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.6)
       
}

#playlistName {
    font-size : 24px;
    width:70vw;
    display: block;
    margin-top:15px;
    margin-bottom:15px;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-weight: bold;
}

#playlistName:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

#playlistName:focus {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid whitesmoke;
    border-radius: 5px;
}


.save-button {
    display:block;
    border: 2px solid whitesmoke;
    max-width: 300px;
    margin-top:15vh;
    margin-bottom:15px;
    margin-left: auto;
    margin-right:auto;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 30px;
    
}

.save-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.save-button:active {
    border-color: rgba(0, 0, 0, 0.7);
    
}


@media screen and (max-width: 910px) {
    .playlist-container {
        width: 80vw;
    }

}