.search-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);

}

h1 {
    margin:0px;
    font-size: 48px;
    color: whitesmoke;
    padding: 10px;
  }

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size : 24px;
    margin:10px;
    font-weight: bold;
    text-align: center;
}

.search-button {
    border: 2px solid whitesmoke;
    border-radius: 5px;
    max-width: 300px;
    margin: 0 auto;
    background-color: transparent;
    font-size: 24px;
    color: whitesmoke;
    font-weight: bold;
    padding: 5px 30px;
    margin-bottom: 10px;
    cursor: pointer;
     
}

.search-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.search-button:active {
    border-color: rgba(0, 0, 0, 0.7); ;
}

#TrackTitle {
    margin: 10px 10px 20px 10px;
    padding: 5px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
}